<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dao.generate.AuthUserMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.generate.AuthUser" >
    <id column="auth_user_id" property="authUserId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.pojo.generate.AuthUser" extends="BaseResultMap" >
    <result column="auth_user_name" property="authUserName" jdbcType="LONGVARCHAR" />
    <result column="auth_user_pwd" property="authUserPwd" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    auth_user_id
  </sql>
  <sql id="Blob_Column_List" >
    auth_user_name, auth_user_pwd
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from auth_user
    where auth_user_id = #{authUserId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from auth_user
    where auth_user_id = #{authUserId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.pojo.generate.AuthUser" >
    insert into auth_user (auth_user_id, auth_user_name, auth_user_pwd
      )
    values (#{authUserId,jdbcType=INTEGER}, #{authUserName,jdbcType=LONGVARCHAR}, #{authUserPwd,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.pojo.generate.AuthUser" >
    insert into auth_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="authUserId != null" >
        auth_user_id,
      </if>
      <if test="authUserName != null" >
        auth_user_name,
      </if>
      <if test="authUserPwd != null" >
        auth_user_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="authUserId != null" >
        #{authUserId,jdbcType=INTEGER},
      </if>
      <if test="authUserName != null" >
        #{authUserName,jdbcType=LONGVARCHAR},
      </if>
      <if test="authUserPwd != null" >
        #{authUserPwd,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.pojo.generate.AuthUser" >
    update auth_user
    <set >
      <if test="authUserName != null" >
        auth_user_name = #{authUserName,jdbcType=LONGVARCHAR},
      </if>
      <if test="authUserPwd != null" >
        auth_user_pwd = #{authUserPwd,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where auth_user_id = #{authUserId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.pojo.generate.AuthUser" >
    update auth_user
    set auth_user_name = #{authUserName,jdbcType=LONGVARCHAR},
      auth_user_pwd = #{authUserPwd,jdbcType=LONGVARCHAR}
    where auth_user_id = #{authUserId,jdbcType=INTEGER}
  </update>

  <select id="selectOne" resultType="com.example.pojo.generate.AuthUser">
    select auth_user_name from auth_user where auth_user_id = 1
  </select>
</mapper>